.not_found_h2 {
  color: #00dfbf;
  font-family: Rubik;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.not_found_p {
  color: #000;
  font-family: Rubik;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.back_btn {
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 2px;
  background: #35e4cb;
  color: white;
}
