.pop_Up {
  background-color: rgb(255, 255, 255);
  height: 20rem;
  width: 40rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  transition: 2s;
  border-radius: 5px;
  /* animation-name: anim1;
  animation-timing-function: ease-in;
  animation-duration: 0.5s;
  animation-iteration-count: 1; */
  border: 5px solid #00bbb4;
}
@keyframes anim1 {
  0% {
    top: 0%;
  }
  100% {
    top: 50%;
  }
}
@keyframes anim34 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.pop-up-close {
  position: absolute;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  padding-bottom: 9px;
  right: 8px;
  top: 2px;
  text-align: center;
  height: 30px;
  font-size: 30px;
  color: white;
  background-color: #00bbb4;
  border-radius: 5px;
}
.pop_data {
  opacity: 1;
  /* text-shadow: 0.5px 0.5px 1px black; */
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 30px;
  text-align: center;
  font-family: "Rubik", sans-serif !important;
  line-height: 2rem;
  font-weight: 500;
  color: green;
  /* animation-name: anim34;
  animation-timing-function: ease-in;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-delay: 0s; */
}
/* .pop_data img {
  height: 100% !important;
} */
