NODE_ENV=production
PORT=5000
MONGO_URL=mongodb://mongo:27017/psh

ENCRYPTION_SECRET_KEY=change-me
JWT_SECRET=change-me
REFRESH_TOKEN_SECRET=change-me
JWT_EXPIRES_IN=1d
JWT_REFRESH_EXPIRES_IN=7d
BCRYPT_SALT_ROUNDS=12
USER_DEFAULT_PASSWORD=change-me

server_site_url=http://localhost:5000
client_site_url=http://localhost:5173

SMS_API_KEY_VALUE=
SMS_SENDER_ID=
SMS_API_HOST_SITE=

NODE_MAILER_AUTH_USER_EMAIL=
NODE_MAILER_AUTH_USER_PASS=
ADMIN_EMAIL=

BKASH_USERNAME=
BKASH_PASSWORD=
BKASH_API_KEY=
BKASH_SECRET_KEY=
bkash_grant_token_url=
bkash_refresh_token_url=
bkash_create_payment_url=
bkash_execute_payment_url=
bkash_refund_transaction_url=
